.statistics {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    line-height: 15px;
    color: #D7D7D7;
    position: absolute;
}

.progress {
    stroke: #36CFC9;
    stroke-width: 4;
    stroke-linecap: round;
    fill: rgba(17, 17, 17, 0.8);;
    transform: rotate(-90deg);
    transform-origin: center;
}

.progress-circle {
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transform: translate(0);
    transition: .3s;
}

.statistics .progress-circle:last-child .progress {
    stroke: #F5222D;;
}

.progress-circle span {
    position: absolute;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    color: #FFFFFF;
}

@media (max-width: 991px) {
    .statistics {
        width: 112px;
        top: 78px;
    }

    .header-of-teams.last-results-visible .statistics .progress-circle {
        transition-delay: .2s;
    }

    .header-of-teams.switch-teams.last-results-visible .statistics .progress-circle {
        transition-delay: 0s;
    }

    .header-of-teams.last-results-visible .statistics .progress-circle {
        transition: .16s;
        transition-delay: 0s;
        visibility: hidden;
        opacity: 0;
    }

    .header-of-teams.show-statistics .statistics .progress-circle {
        transition-delay: 0s;
        transition: .16s;
    }

    .header-of-teams.switch-teams .statistics .progress-circle,
    .header-of-teams.new-teams .statistics .progress-circle {
        transition-delay: 0s;
        transition: .4s;
    }

    .header-of-teams.last-results-visible .statistics .progress-circle:first-child ,
    .header-of-teams.show-statistics .progress-circle:first-child,
    .header-of-teams.switch-teams .progress-circle:first-child {
        transform: translateX(-50px);
        visibility: hidden;
        opacity: 0;
    }

    .header-of-teams.last-results-visible .statistics .progress-circle:last-child,
    .header-of-teams.show-statistics .progress-circle:last-child,
    .header-of-teams.switch-teams .progress-circle:last-child {
        transform: translateX(50px);
        visibility: hidden;
        opacity: 0;
    }
}

@media (min-width: 992px) {
    .statistics {
        width: 202px;
        top: 44px;
        left: calc(50% - 101px);
    }

    .header-of-teams.switch-teams .statistics .progress-circle {
        transform: rotateY(180deg);
        opacity: 0;
    }

}
