.tabs-container {
    position: sticky;
    top: 0;
    z-index: 1;
    background: #1F2123;
}

.tabs {
    height: 46px;
    display: flex;
}

.underline {
    display: block;
    height: 5px;
    background: #EB460C;
    transition: .2s;
}

.tab {
    display: flex;
    height: 51px;
    flex-grow: 1;
    background: #1F2123;
    color: #D7D7D7;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

.tab:hover {
    background: #781400;
}

.tabs div.active {
    color: #EB460C;
    background: #26282B;
}

/*@media (min-width: 992px) {}*/