.trapezoid-result {
    position: absolute;
    top: 0;
    left: 0;
}

.result-statistics {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 11px;
    margin-bottom: 10px;
    color: rgba(107, 119, 131, 1);
}

.result-statistic {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 0 22px;
    text-transform: uppercase;
    line-height: 1;
    width: 188px;
    height: 24px;
    margin: 2px 0;
    background-image: url("./../../../../data/images/bg-detail-scores.png");
    font-size: 17px;
    font-weight: 700;
}

.result .num {
    min-width: 13px;
}

.result .colon {
    margin: 0 20px;
}

.result .colon-rectangle {
    position: absolute;
    bottom: -3px;
}

.result .won {
    color: rgba(235, 70, 12, 1);
}