.time {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 46px;
    height: 17px;
    background: #26282B;
    border-radius: 12px;
    color: #FFFFFF;
    font-size: 10px;
    line-height: 10px;
    font-weight: 400;
}

.squareColon,
.squareColon::before {
    width: 1px;
    height: 1px;
    border-radius: 30%;
    background: #ffffff;
}

.squareColon {
    position: relative;
    margin: 0 1px;
}

.squareColon::before {
    content: '';
    position: absolute;
    top: 3px;
}