.selected-bet {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 63px;
    padding: 0 3px 0 19px;
    box-sizing: border-box;
    border-bottom: 1px solid #717274;
    background: #26282B;
}

.selected-bet div:last-child {
    display: flex;
}

.simplebar-scrollbar.simplebar-visible::before {
    border-radius: 10px;
    width: 5px;
    left: 0;
    right: 0;
    top: 0;
    background: #26282B;
}

.simplebar-track.simplebar-vertical {
    right: -11px;
    max-width: 5px;
    border-radius: 10px;
    background: rgba(18, 18, 18, 0.7);
}

.simplebar-track {
    width: 5px;
}

.selected-bet h5 {
    margin: 0;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: white;
}

.selected-bet h6 {
    margin: 0 0 2px 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    color: #D7D7D7;
}

.selected-bet h5 span {
    color: #EB460C;
    margin-left: 3px;
}

.selected-bet input {
    outline: none;
    width: 77px;
    height: 32px;
    background: #1F2123;
    border: 1px solid #121212;
    border-radius: 2px;
    font-size: 14px;
    line-height: 17px;
    color: white;
}

.remove-selected-bet {
    height: 12px;
    width: 12px;
    position: relative;
    margin-left: 6px;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
}

.remove-selected-bet:before, .remove-selected-bet:after {
    position: absolute;
    content: '';
    right: 48%;
    height: 12px;
    width: 2px;
    background: #656D7E;
    border-radius: 10px;
}

.remove-selected-bet:before {
    transform: rotate(45deg);
}

.remove-selected-bet:after {
    transform: rotate(-45deg);
}

.selected-bet input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}