.bet-slip {
    display: flex;
    flex-direction: column;
    position: relative;
    transition: .4s;
    z-index: 4;
}

div.bet-slip.hide {
    opacity: 0;
    transform: translateX(-100%);
    transition: .58s;
}

.default-stake input {
    width: 77px;
    min-height: 32px;
    background: #18191B;
    border: 1px solid #313336;
    box-sizing: border-box;
    border-radius: 2px;
    outline: none;
    color: white;
}

.wrapper-selected-bets {
    height: 100%;
}

.wrapper-selected-bets .simplebar-content {
    display: flex;
    flex-direction: column-reverse;
    height: auto;
}

@media (max-width: 991px) {
    .bet-slip {
        transform: translateY(100%);
        transition: .3s;
        display: flex;
        width: 100%;
        position: fixed;
        bottom: 0;
    }

    .bet-slip.bet-slip-btn-show,
    .bet-slip.opened {
        transform: translateY(0);
    }

    .bet-slip.bet-slip-btn-show {
        pointer-events: none;
    }

    .bet-slip.mini {
        transform: translateY(0);
        pointer-events: none;
    }

    .bet-slip.mini .wrapper-selected-bets {
        display: flex;
        flex-direction: column-reverse;
    }

    .bet-slip.opened > div:last-child {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }

    .bet-slip.opened {
        height: calc(100% - 60px);
        top: 60px;
        position: fixed;
        z-index: 1;
    }

    .bet-slip.mini .selected-bet,
    .bet-slip.bet-slip-btn-show .selected-bet {
        background: rgba(18,18,18,0.91);
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25);
    }

    .bet-slip.mini .selected-bets {
        transform: translateY(0);
        transition: 1s;
    }

    .bet-slip.bet-slip-btn-show .selected-bets {
        transform: translateY(100%);
        transition: 1s;
        opacity: 0;
        visibility: hidden;
        pointer-events: auto;
        height: 0;
        overflow: hidden;
    }

    .bet-slip.bet-slip-btn-show .wrapper-selected-bets .selected-bet-wrapper:nth-child(n+3) {
        display: none;
    }

    .bet-slip.mini > div:last-child {
        z-index: 1;
        pointer-events: auto;
    }

    .bet-slip.opened .selected-bets {
        height: calc(100% - 71px);
        background: #1f2123;
    }

    .total-bet-info,
    .possible-win-info {
        font-family: "Open Sans", sans-serif;
        font-weight: 600;
        font-size: 13px;
        line-height: 18px;
    }

    .total-bet-info {
        margin-right: 11px;
    }
}

@media (min-width: 992px) {
    .bet-slip {
        height: 464px;
        width: 290px;
        transform: translateX(110%);
        opacity: 0;
        position: sticky;
        top: 62px;
    }

    .wrapper-selected-bets {
        max-height: 393px;
    }

    .bet-slip.opened {
        transform: translateX(0);
        opacity: 1;
    }

    .selected-bets {
        height: calc(100% - 71px);
        background: rgba(17, 17, 17, 0.9);
    }

    .start-match {
        border-radius: 2px;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        color: white;
    }

}

@media (min-width: 992px) and (max-width: 1311px) {
    .bet-slip {
        margin: 0 12px;
    }
}

@media (min-width: 1312px) {
    .bet-slip {
        margin: 0 27px;
    }
}