main {
    max-width: 1312px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 11px auto 0;
}

.teams {
    height: 138px;
    width: 100%;
    background: #000;
}

.teamBet {
    display: flex;
    align-items: center;
    margin: 10px 0 12px 0;

}

.teamBet img {
    display: block;
    height: 72px;
    width: 72px;
}

.vs {
    height: 52px;
    width: 52px;
    border-radius: 50%;
    background-image: url('../../images/vs.png');
    background-color: #FF9243;
    margin: 0 8px 0;
}

.vs,
.romb,
.teamBet .team  {
    display: flex;
    align-items: center;
    justify-content: center;
}

.romb {
    width: 17px;
    transform: rotate(45deg);
    color: #fff;
    height: 24px;
}

.teamBet .team {
    flex-direction: column;
    width: 150px;
    height: 46px;
    text-transform: uppercase;
    color: white;
    font-size: 12px;
    font-weight: 500;
    background: linear-gradient(180deg, #F66824 0%, rgba(246, 104, 36, 0) 100%), #EB460C;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 2px 0 #BF3606;
    border-radius: 2px;
}

.teamBet .team .rate {
    font-size: 24px;
    line-height: 22px;
    color: black;
}

.romb {
    width: 24px;
    height: 24px;
    background: #000;
    transform: rotate(-45deg);
}

.romb div {
    transform: rotate(45deg);
    color: #fff;
    height: 24px;
}

.betsZone {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.headerBets {
    height: 51px;
    display: flex;
    justify-content: space-between;
    grid-area: headerBets;
}

.headerBets div {
    display: flex;
    flex-grow: 1;
    background: #1F2123;
    color: #D7D7D7;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

.headerBets div:hover {
    background: #26282B;
    color: #ffffff;
    border-bottom: 5px solid #EB460C;;
}

.menuBets {
    width: 678px;
}

.group > div {
    display: flex;
}

.group h3 {
    display: flex;
    align-items: center;
    margin: 0;
    background: #000;
    height: 34px;
    padding: 0 15px;
}

.group h3 svg {
    margin-right: 15px;
}

.group .openGroup {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    border-radius: 50%;
    background: #26282B;
    cursor: pointer;
}

.group .openGroup span {
    background: #656D7E;
    height: 2px;
    width: 12px;
}

.group > div:first-child .openGroup  svg {
    margin-right: 15px;
}

.betGroups  h4 {
    margin: 0;
    height: 20px;
}

.group div:last-child > div {
    width: 100%;
}

.headerBets img {
    height: 20px;
    width: 20px;
}

.star {
    background-image: url("../../images/star.png");
}

.group div div h4 {
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}

.group div div:first-child h4 {
    background: #213557;
}

.group div div:last-child h4 {
    background: #146734;
}

.bet  {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 48px;
    box-sizing: border-box;
    border-bottom: 2px solid #EAEAEA;
    padding: 0 12px;
    background: #fff;
    cursor: pointer;
}

.bet.selected {
    background: #EB460C;
}

.bet span {
    font-size: 14px;
    line-height: 19px;
    color: #232527;
    font-weight: 400;
}

.bet span:last-child {
    font-weight: 700;
}

.bet.selected span {
    color: #232527;
}

.bet.selected span:last-child {
    color: white;
}

.handicap {
    grid-area: handicap;
}

.group {
    width: 336px;
    display: flex;
    flex-direction: column;
    color: white;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
}

.subgroup:not(:first-of-type) .bet {
    border-left: 2px solid #EAEAEA;
}

.totalPoints {
    grid-area: totalPoints;
}

.betSubTitle {
    display: flex;
    justify-content: center;
    color: #26282B;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    background: #EAEAEA;
}

.firstTeam {
    grid-area: firstTeam;
    background: #213557;
    color: #fff;
}

.lastTeam {
    grid-area: lastTeam;
    background: #146734;
    color: #fff;
}

.betSlip {
    display: flex;
    height: 464px;
    width: 290px;
    position: relative;
    margin-left: 27px;
    background: rgba(17, 17, 17, 0.9);;
}

.betSlip .header {
    width: 100%;
    height: 63px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #000;
    color: white;
}

.betGroups {
    display: flex;
    justify-content: space-between;
    background: #1F2123;
}

.betSlip button {
    height: 57px;
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #EB460C;
    border-radius: 2px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: white;
    cursor: pointer;
}








