.last-wrapper {
    display: flex;
    justify-content: space-between;
    width: 801px;
    position: absolute;
    top: 6px;
    left: calc(50% - 400.5px);
}

.last {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 123px;
    height: 19px;
    position: relative;
    background: #26282B;
    color: #D7D7D7;
    text-transform: uppercase;
    font-size: 9.5px;
    line-height: 18px;
}

.last-wrapper .last:first-child {
    transform: skewX(40deg);
}

.last:first-child div {
    transform: skewX(-40deg);
}

.last::before {
    content: '';
    position: absolute;
    width: 45px;
    height: 4px;
    top: 18px;
    background: #EB460C;
}

.last:first-child::before {
    left: 25px;
}

.last-wrapper .last:last-child {
    transform: skewX(-40deg);
}

.last:last-child::before {
    right: 25px;
}

.last:last-child div {
    transform: skewX(40deg);
}

@media (min-width: 992px) and (max-width: 1311px) {
    .last-wrapper {
        top: 7px;
        padding: 0 131px;
    }
}

@media (max-width: 991px) {
    .last-wrapper {
        display: none;
    }
}