.stake-accordion {
    height: 0;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    width: 100%;
    position: relative;
    color: #595959;
    transition: .2s;
    transition-property: height;
}

.show-keyboard .stake-accordion {
    height: 55px;
    border-top: 3px solid #EB460C;
    overflow: visible;
}

.show-keyboard .stake-accordion::before {
    content: "";
    position: absolute;
    top: -12px;
    border: 5px solid transparent;
    border-bottom: 5px solid #EB460C;
}

.stake-accordion .fast-stake {
    display: flex;
    justify-content: space-between;
    padding: 3px;
    background: #E3E3E3;
}

.stake-accordion .fast-stake span,
.stake-accordion .num,
.stake-accordion .keyboard .back-btn,
.stake-accordion .keyboard .confirm,
.stake-accordion .keyboard .dot {
    display: flex;
    align-items: center;
    justify-content: center;
}

.stake-accordion .fast-stake span {
    width: 19%;
    height: 46px;
    border: 1px solid #C9C9C9;
    background: #EAEAEA;
    cursor: pointer;
}

.stake-accordion .num {
    width: 20%;
    height: 48px;
    border-bottom: 1px solid #E3E3E3;
    cursor: pointer;
}

.stake-accordion > div:not(.fast-stake) {
    font-size: 24px;
    line-height: 28px;
    cursor: pointer;
}

@media (max-width: 993px) {
    .show-keyboard .stake-accordion {
        height: 199px;
        border-top: 3px solid #EB460C;
        font-weight: 400;
    }

    .stake-accordion .fast-stake {
        font-size: 18px;
        line-height: 21px;
    }

    .stake-accordion .keyboard {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        background: #EEEEEE;
    }

    .stake-accordion .keyboard div {
        height: 48px;
    }

    .stake-accordion .keyboard .back-btn,
    .stake-accordion .keyboard .confirm {
        width: 40%;
        border-left: 1px solid #E3E3E3;
    }

    .stake-accordion .keyboard .dot {
        width: 20%;
        position: relative;
    }

    .stake-accordion .num:not(:nth-child(1)):not(:nth-child(6)){
        border-left: 1px solid #E3E3E3;
    }

    .dot::before {
        content: "";
        width: 3px;
        height: 3px;
        position: absolute;
        left: calc(50% - 3px);
        bottom: 15px;
        border-radius: 15px;
        background: #595959;
    }

    .show-keyboard .stake-accordion::before {
        right: 82.5px;
    }

    .confirm,
    .confirm .svg-confirm {
        transition: .2s;
    }

    .confirm.active {
        background: #56C7AC;
    }

    .confirm.active .svg-confirm {
        fill: #FFFFFF;
    }

}

@media (min-width: 993px) {
    .keyboard {
        display: none;
    }

    .show-keyboard .stake-accordion::before {
        right: 28.9%;
    }
}


