.balance {
    margin-left: 20px;
    font-weight: 500;
    font-size: 14px;
    color: #ffffff;
}

@media (max-width: 991px) {
    .balance {
        margin-left: 13px;
        font-family: 'Open Sans', sans-serif;
    }
}