.bet-slip-btns button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    border-radius: 2px;
    transition: .25s;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    outline: none;
    font-weight: 500;
    font-family: 'Rubik', sans-serif;
}

.bet-slip-btns {
    height: 71px;
}

.btn-right {
    flex-direction: column;
    width: 100%;
    background: #EB460C;
    margin-left: auto;
}

.start-match {
    margin-top: 5px;
    border-radius: 2px;
    font-size: 20px;
    line-height: 24px;
    color: white;
}

.total-bet-info,
.possible-win-info {
    font-weight: 600;
    font-size: 10px;
    line-height: 14px;
    color: #121212;
}

.total-bet-info {
    margin-right: 9px;
}

@media (max-width: 991px) {
    .bet-slip.bet-slip-btn-show  .btn-right {
        width: 60%;
    }

    .bet-slip.bet-slip-btn-show .btn-left {
        width: 38%;
        background: #E3E3E3;
        font-size: 14px;
        line-height: 17px;
        color: #26282B;
    }

    .selected-bets-counter {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 28.33px;
        height: 37px;
        margin-right: 11.66px;
        font-size: 16px;
        line-height: 19px;
        color: #EB460C;
        background: url("./../../../../data/images/betSlipIconMobile.png");
    }

    .bet-slip-btns {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 71px;
        padding: 7px;
        z-index: 1;
        background: #000;
        pointer-events: auto;
    }

    .btn-left {
        width: 0;
        overflow: hidden;
    }

    .bet-slip.bet-slip-btn-show .possible-win-info {
        display: none;
    }

    .btn-right div:last-child {
        display: flex;
    }
}

@media (min-width: 992px) {
    .bet-slip-btns .btn-right {
        height: 71px;
        width: 100%;
        /*position: absolute;*/
        /*bottom: 0;*/
        background: #EB460C;
        cursor: pointer;
        outline: none;
        border: 7px solid black;
    }

    .bet-slip-btns .btn-left {
        display: none;
    }
}