.selected-bet-wrapper {
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid #717274;
}

.selected-bet div:last-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 3px;
}

.selected-bet > div:last-child div {
    display: flex;
}

.selected-bet  {
    display: flex;
    justify-content: space-between;
    height: 63px;
}

.selected-bet > div:first-child {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.simplebar-scrollbar.simplebar-visible::before {
    border-radius: 10px;
    width: 5px;
    left: 0;
    right: 0;
    top: 0;
}

.selected-bets .simplebar-track.simplebar-vertical {
    top: 105px;
    right: -11px;
    max-width: 5px;
    border-radius: 10px;
    background: rgba(18, 18, 18, 0.7);
}

.simplebar-track {
    width: 5px;
}

.selected-bet-name-odd {
    margin: 0;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: white;
}

.selected-bet h6 {
    margin: 0 0 2px 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    color: #D7D7D7;
}

.selected-bet-name-odd span {
    color: #EB460C;
}

.remove-selected-bet {
    height: 12px;
    width: 12px;
    position: relative;
    margin-left: 6px;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
}

.remove-selected-bet:before, .remove-selected-bet:after {
    position: absolute;
    content: '';
    right: 48%;
    height: 12px;
    width: 2px;
    background: #656D7E;
    border-radius: 10px;
}

.remove-selected-bet:before {
    transform: rotate(45deg);
}

.remove-selected-bet:after {
    transform: rotate(-45deg);
}

.selected-bet input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.selected-bet .possible-win {
    color: rgba(235,70,12,1);
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    margin-top: 6px;
}

@media (max-width: 991px) {
    .selected-bet  {
        padding-left: 19px;
        margin-left: 0;
    }
}

@media (min-width: 992px) {
    .selected-bet  {
        margin-left: 19px;
    }

    .selected-bet-wrapper {
        background: #26282B;
    }

}